@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #25272C;
}

.search {
  background: #26282D;
  box-shadow: inset -1px -1px 5px #26282D, inset 5px 5px 10px #13151c;
}

.react-slideshow-container+ul.indicators {
  display: flex !important;
  margin-bottom: -10px !important;
  margin-top: 0px !important;
}

.react-slideshow-container+ul.indicators li button {
  background-color: green !important;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator.active {
  background: green !important;
  color: green !important;
}